.health-cards {
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  background: #f6faff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.status-bar {
  margin-top: 10px;
  background: #e0e0e0;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}

.status-fill {
  width: 75%;
  height: 100%;
}


.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-icon {
  width: 24px;
  font-size: 20px; 
}

.details-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}