.sidebar {
  width: 220px;
  background-color: #f5f9ff;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 5px rgba(0,0,0,0.05);
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 20px;
  margin: 10px 0 10px 10px;
   transition: transform 0.3s ease-in-out;
    min-height: 100vh;
}


.nav-list-sec{
  padding: 20px 5px;
}

.sidebar-header .logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #28ccde;
  padding-left: 10px;
}

.care-text {
  color: #1b1a42;
  
}

.section-title {
  font-size: 13px;
  color: #94a3b8;
  margin: 15px 0 8px;
  letter-spacing: 0.5px;
  padding-left: 10px;

}


.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  color: #7b8b9a;
  font-weight: 500;
}

.nav-item:hover {
  background-color: #f0f4f8;
  color: #111827;
}

.nav-item.active {
  color: #050505;
}

.nav-icon {
  font-size: 18px;
  margin-right: 10px;
}

.sidebar-footer {
  margin-top: auto;
}



@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;
  }

  .sidebar.open {
    transform: translateX(0%);
  }
}
